@font-face {
    font-family: Montserrat;
    src: url("./assets/fonts/Montserrat-ExtraLight.otf") format("opentype");
}
html{
    min-height:100%;
    position:relative;
}
body{
    height:100%;
}

h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}

#app {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0 auto;
}
